<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    Hola {{nombreusuario}}<br/>
    No. Pedido {{pedido.id}}<br/>
    <!-- Email del usuario: {{emailusuario}}
     Lineas de pedido: {{lineas_pedido}}   -->


    <br/>
    <br/>
    Lineas de pedido:
    
    <ul>
        {% for linea_pedido in lineas_pedido %}
            <li>{{ linea_pedido.producto.nombre }}</li>
        {% endfor %}
    </ul>
    
</body>
</html>