{% extends "proyectowebapp/base.html" %}
{% load static %}


{% block content %}


		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>CATALOGO DE CURSOS</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		
			<!-- Start Column 1 -->
		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">

		      		<!-- Start Column 1 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							<img src="{% static 'images/multi.png' %}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Electrónica Básica</h3>
							<strong class="product-price">$200.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg' %}" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 1 -->
						
					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							<img src="{% static 'images/condensador.png' %}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Electrónica 1</h3>
							<strong class="product-price">$50.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg' %}" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							<img src="{% static 'images/transistor.png' %}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Electrónica 2</h3>
							<strong class="product-price">$78.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg' %}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							<img src="{% static 'images/procesador.png' %}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Electrónica Digital</h3>
							<strong class="product-price">$43.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg' %}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 4 -->


					<!-- Start Column 1 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							<img src="{% static 'images/ardu.png' %}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Arduino Uno</h3>
							<strong class="product-price">$50.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg' %}" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 1 -->
						
					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							<img src="{% static 'images/micro.png' %}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Microcontroladores</h3>
							<strong class="product-price">$50.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg' %}" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							<img src="{% static 'images/pcb3.png' %}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Diseño de PCB</h3>
							<strong class="product-price">$78.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg' %}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							<img src="{% static 'images/robotica.png' %}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Robotica</h3>
							<strong class="product-price">$43.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg' %}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 4 -->

		      	</div>
		    </div>
		</div>


		


{% endblock %}	