
 {% extends "base.html" %}

 {% block title %} CURSO C#1 {% endblock %}


{% block content%}

<P> 
    Estamos a dia: {{horaa}}
</P>


<iframe width="560" height="315" src="https://www.youtube.com/embed/kkVYrIdfbDI?si=mJ1HG4n0G-z7H9XX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<br>
<br>


<div style="text-align: center;">
    <p>Estamos a día: {{ horaa }}</p>
    
    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/7XO1AzwkPPE?si=iLEe7VmxLy7EFipH" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen
        style="margin: 20px 0;">
    </iframe>
</div>


<br>
<br>

<div style="text-align: center; margin: 20px;">
    <p>Estamos a día: {{ horaa }}</p>
    
    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/7XO1AzwkPPE?si=iLEe7VmxLy7EFipH" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen
        style="border: 4px solid #ddd; border-radius: 8px; width: 100%; box-sizing: border-box;">
    </iframe>
</div>



<br>
<br>
<div style="text-align: center; margin: 20px;">
    <p>Estamos a día: {{ horaa }}</p>
    
    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/7XO1AzwkPPE?si=iLEe7VmxLy7EFipH" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen
        style="border: 8px solid #ddd; border-radius: 12px; width: 100%; box-sizing: border-box; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
    </iframe>
</div>

{% endblock %} 




