{% extends "proyectowebapp/base.html" %}
{% load static %}


{% block content %}


	<!-- Start Hero Section -->
    <div class="hero">
        <div class="container"> 
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>CATALOGO DE CURSOS</h1>
                    </div>
                </div>
                <div class="col-lg-7">
                    
                </div>
            </div>
        </div>
    </div>
<!-- End Hero Section -->





<div style="float:right;">

    <!-- <p style="color: black;">Total: {{importe_total_carro}} Q</p>  -->

    {% include "catalogo/carro/widget.html" %}

</div>


            




<div class="untree_co-section product-section before-footer-section">
    <div class="container">
          <div class="row">
    
                {%for curso in cursos %}



                    <!-- Start Column 4  -->
					<div class="col-12 col-md-4 col-lg-3 mb-5" class="cursoo">
						<a class="product-item" href="{% url 'cursoo' %} ">
							<img src="{{curso.imagen.url}}" class="img-fluid product-thumbnail">
							<h3 class="product-title">{{curso.nombre}}</h3>
							<strong class="product-price">{{curso.precio}}</strong>

                                <!--<div class="card-footer text-center">  -->  
                                    {% if user.is_authenticated %}     
                                    <div class="text-center">                                  
                                        <a href="{% url 'Carro:agregar' curso.id %}" class="btn btn-primary">+</a> 
                                    </div>
                                    {% else %}
									{% endif %}

                                       <!-- <span class="icon-cross">
                                            
                                            <img src="{% static 'images/cross.svg' %}" class="img-fluid" alt="Cerrar"> 
                                            
                                        </span>  -->
                                   
                                <!-- </div> -->
                                     
						</a>
                                


					</div>
					<!-- End Column 4 -->


		 


                {% endfor %}   


            </div>
        </div>
    </div>


{% endblock %}